* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  border-radius: 10px;
  width: 900px;
  max-width: 100%;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

/* FORM CONTAINER */
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* ANIMAÇÃO */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* FORM */
form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  padding: 12px;
  margin: 8px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #7B1B38;
  color: white;
  padding: 12px 40px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
}

/* RECUPERAR */
#recuperarSenhaLogin {
  margin-top: 10px;
  color: #7B1B38;
  cursor: pointer;
  font-size: 14px;
}

/* OVERLAY */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.overlay {
  background: linear-gradient(135deg, #7B1B38, #a8325a);
  color: white;
  position: relative;
  height: 100%;
  width: 200%;
  left: -100%;
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

/* PAINEL */
.overlay-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  right: 0;
}

/* BOTÃO BRANCO */
.ghost {
  background: transparent;
  border: 1px solid white;
  padding: 12px 40px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
