const SUPABASE_URL = "https://hufqiyhpuotksucwdprp.supabase.co";
const SUPABASE_KEY = "sb_publishable_laIaX35XloOoAg7S7dKHHg_PfHaA3aM";

const supabase = window.supabase.createClient(SUPABASE_URL, SUPABASE_KEY);

// elementos
const container = document.getElementById('container');
const btnRegister = document.getElementById('btnRegister');
const btnLogin = document.getElementById('btnLogin');
const btnEntrar = document.getElementById('btnEntrar');
const btnCadastrar = document.getElementById('btnCadastrar');

// inputs
const loginEmail = document.querySelector('.login-box input[type="email"]');
const loginSenha = document.querySelector('.login-box input[type="password"]');

const cadastroNome = document.querySelector('.register-box input[type="text"]');
const cadastroEmail = document.querySelector('.register-box input[type="email"]');
const cadastroSenha = document.querySelector('.register-box input[type="password"]');

// alternar telas
btnRegister.onclick = () => container.classList.add('active');
btnLogin.onclick = () => container.classList.remove('active');

// LOGIN REAL
btnEntrar.onclick = async () => {
  const { data, error } = await supabase.auth.signInWithPassword({
    email: loginEmail.value,
    password: loginSenha.value
  });

  if (error) {
    alert("Erro: " + error.message);
  } else {
    alert("Login realizado com sucesso!");
    // depois vamos redirecionar pro dashboard
  }
};

// CADASTRO REAL
btnCadastrar.onclick = async () => {
  const { data, error } = await supabase.auth.signUp({
    email: cadastroEmail.value,
    password: cadastroSenha.value
  });

  if (error) {
    alert("Erro: " + error.message);
  } else {
    alert("Conta criada! Verifique seu email.");
  }
};

// recuperar senha
const recuperarSenha = document.getElementById('recuperarSenhaLogin');

if (recuperarSenha) {
  recuperarSenha.onclick = async () => {
    const email = prompt("Digite seu email para recuperação:");

    if (!email) return;

    const { error } = await supabase.auth.resetPasswordForEmail(email);

    if (error) {
      alert("Erro: " + error.message);
    } else {
      alert("Email de recuperação enviado!");
    }
  };
}
